<div th:fragment="header" >

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Главная</a>
                <a class="nav-item nav-link" href="/blog">Блог</a>
                <a class="nav-item nav-link" href="/contacts">Контакты</a>
                <a class="nav-item nav-link" href="/about">О нас</a>
            </div>
        </div>
    </nav>

</div>